<% title "All" %>

<% content_for :page_nav_content do %>
	<div class="navbar-content">
	  <ul class="nav navbar-nav">
	    <li>
	      <a class="active" href="#">Popular</a>
	    </li>
	    <li>
	      <a href="#">Latest</a>
	    </li>
	    <li>
	      <a href="#">Trending</a>
	    </li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
	  	<li>
	  		<a href="#" class="start-community">
	  		Start a Community
	  		</a>
	  	</li>
	    <li>
	    	<% #link_for "Join" %>
	    </li>
	  </ul>
	</div>
<% end %>