<article class="post-excerpt">
			<div class="excerpt-content-container">
				<iframe class=
				"excerpt-content" ng-src="{{renderSrc('http:\/\/cdn.iframe.ly/api/iframe?url=' + post.external_link + '&key=85d596fde2d27b89c0c1fdf3a049f633&amp;summary=true')}}" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width:100%; height:100%;"></iframe>
			</div>
			<div class="post-info">
				<div class="btn upvotes">
					<span class="upvote-arrow"><i class="fa fa-arrow-up"></i></span>
					<span>1,509</span>
				</div>
			</div>
</article>