<article class="post-excerpt">
	<div class"row">
		<div class="col-sm-5 excerpt-image-container">
			<%= image_tag "http://cdn29.elitedaily.com/wp-content/uploads/2015/06/dads_elitedaily3-800x400.jpg", class: "excerpt-image" %>
		</div>
		<div class="col-sm-7 excerpt-content">
			<a href="{{permalink(post)}}">View Post</a>
		</div>
	</div>
</article>