<%= render "posts/index_nav" %>
<section ng-controller="PostsCtrl">
  <div infinite-scroll="posts.nextPage()" infinite-scroll-disabled='posts.busy' infinite-scroll-distance='1'>
  	<div ng-repeat="post in posts.posts" ng-init="$last ? registerPostEvents() : null" >
  		<%= render 'posts/post_excerpt_js' %>
	  </div>
	</div>
</section>