<nav class="navbar navbar-page">
  <div class="container navbar-container">
  	<div class="navbar-header">
      <span class="navbar-brand" href="#">
        <%= yield :title %>
      </span>
    </div>
    <div class="navbar-content">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div>
</nav>