<nav class="navbar navbar-page">
  <div class="container navbar-container">
  	<div class="navbar-header">
      <span class="navbar-brand" href="#">
        <%= yield :title %>
      </span>
    </div>
    <%= yield :page_nav_content %>
  </div>
</nav>